################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maxtruck_BackEnd
/Maxtruck.Api/bin/
/Maxtruck.Application/bin/
/Maxtruck.Domain/bin/
/Maxtruck.Infra/bin/
/Maxtruck.Api/bin/Debug/net8.0
/Maxtruck.Application/bin/Debug/net8.0
/Maxtruck.Domain/bin/Debug/net8.0
/Maxtruck.Infra/bin/Debug/net8.0
/bin/
/obj/
/Maxtruck.Application/obj/Debug/net8.0
/Maxtruck.Domain/obj/Debug/net8.0
/Maxtruck.Infra/obj/Debug/net8.0
